/* font-family imported  */

@font-face {
  font-family: RedHat;
  src: url(Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: RedHatI; /*  here the name depend on you  */
  src: url(Red_Hat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf);
}

/*------------*/

/*  home page and global style  */

/*NAVBAR*/

body {
  color: black;
  font-family: RedHatI;
  margin: 9px;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  right: 2rem;
  top: 5px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* group list  */

nav ul li {
  list-style-type: none; /* delete the point  */
}

nav a {
  text-decoration: none;
  margin: 1rem;
  margin-right: 1rem; /* match to 16 px */
}

nav ul {
  display: flex;
  justify-content: end;
}

/* define the wrapper class dimension*/

.wrapper img {
  width: 700px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 5px;
}

.wrapper h1 {
  margin: 10px;
  text-align: center;
}

/*-------------------*/

/*   
Products page Organazing */

/*

.products-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 2rem;
}
*/

.products-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: black;
}

.products-list li {
  margin: 6px;
  inline-size: 500px;
  overflow-wrap: break-word;
  margin: 50px;
  padding: 10px;
  color: black;
  background: white;
  border-radius: 15px;
}

.products-list img {
  width: 300px;
  cursor: pointer;
}

button {
  height: 70px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
}

button:hover {
  background: black;
  color: red;
}

/* only product*/

.wrapper .product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.wrapper .product img {
  width: 350px;
  margin-left: 35%;
  margin-top: 10px;
}

/*SIGN UP */
/* form placed */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

form input {
  width: 15rem;
  height: 1.5rem;
  margin-top: 0.2rem;
  border-radius: 6px;
  border: solid 1px gray;
  padding-left: 0.5rem;
}

input[type="submit"] {
  width: 15rem;
  height: 2rem;
  background-color: darkslategray;
  width: 16rem;
  border: gray solid 1px;
  color: white;
}

textarea {
  width: 15rem;
}

.error {
  color: red;
}

/*Profile*/
.profile-avartar {
  width: 5rem !important;
  height: 8rem !important;
  border-radius: 100%;
}

/*profile*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.selfItems {
  display: flex;
  flex-direction: row !important;

  width: 900px;
  align-items: stretch;
  border-radius: 20px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.selfItems img {
  width: 300px;
  border-radius: 50%;
}

.selfItems .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(154, 183, 199);
}

.selfItems .aboutYou,
.foot {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
}

.selfItems .foot div {
  display: flex;
  flex-direction: column;
}

.container .selfItems * {
  padding: 10px;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 12px;
}

.title {
  top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
